# llm provider: local | openai
LOGILLM_LLM_PROVIDER=local

# Local vLLM server
LOGILLM_LOCAL_URL=http://127.0.0.1:8111/v1
LOGILLM_LOCAL_MODEL=Qwen/Qwen3.5-9B
# 1 for enabling thinking mod, 0 off
LOGILLM_LOCAL_THINKING=0

# OpenAI
LOGILLM_OPENAI_URL=https://api.openai.com/v1
LOGILLM_OPENAI_MODEL=gpt-5.6-luna
OPENAI_API_KEY=sk-openai-XXXXXXXXXXXXXXXXXXXXXXXXXXXX